layout {
	pane {
		pane {}
		pane split_direction="vertical" {
			pane command="bash"  {
				args "-c" "anvil -b 5; ${SHELL-bash}"
			}
			pane {
				pane command="bash"  {
					args "-c" "pnpm run --filter ./antarctica-indexer reset; pnpm run --filter ./antarctica-indexer dev; cd antarctica-indexer; ${SHELL-bash}"
				}
				pane command="bash"  {
					args "-c" "pnpm run --filter ./antarctica-explorer dev; cd antarctica-explorer; ${SHELL-bash}"
				}
			}
		}
	}

}
